h1 {
        font-size: 60px;
        text-align: center;
        background-color: beige;
        font-family: initial;
}

body {
        background-image: url("forest.jpg");
}

p {
        font: caption;
        font-size: 30px;
        font-family: sans-serif;
        text-align: center;
        background-color: beige;
        padding-left: 10px;
        padding-right: 10px;
}

.column {
    float: left;
    width: 50%;
    border: 10px black;
    padding: 10%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    border: 10px black;
    padding: 10%;
}