
/* ---- Layout Containers ---- */

.bg-color {
    background: linear-gradient(
    to bottom,
  rgb(66, 135, 190),
  rgb(66, 135, 190) 50%,
  rgb(36, 101, 161) 50%, 
  rgb(36, 101, 161)
);
    background-size: 100% 20px;
}

.dialogue-effects {
    border: solid 5px black;
}

.header-effects {
    background-color: black;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 200%;
}

.body-headers {
    font-family: 'Permanent Marker', cursive;
}

.burger-style {
    font-family: 'Permanent Marker', cursive;
    color: black;
    background-color: rgb(250, 217, 70);
    text-decoration: none;
}

.burger-special {
    color: black;
}

.footer-effects {
    background-color: black;
    color: white;
}

.title-effects {
   width: 50%;
   text-align: center;
   padding: 20px 0 20px 0;
   display: inline-block;
}

.nav-effects {
    color: black;
    background-color: rgb(250, 217, 70);
    border: groove white;
    margin: 10px;
}

.nav-flex {
    display: flex;
    justify-content: space-around;
}

a:hover {
    background-color: rgb(255,90,0);
    color: black;
}

p {
    font-family: 'Indie Flower', cursive;
    font-size: 150%;
    font-weight: bold;
}

html, body {
    margin: 0;
}

.logo-typography {
    letter-spacing: 6px;
}

.main-body {
    min-height: 100%;
}

h4 {
    padding-top: 20px;
}

h6 {
    padding-bottom: 20px;
}

.main-pic {
    width: 100%;
    padding: 20px;
}

/*------ Base Styles -------*/


/*----------------- Media Queries -----------------*/

@media (max-width: 576px) {
    #main-nav {
        display: none;
    }
  }

@media (min-width: 577px) {
    #burger-nav {
        display: none;
    }
}

@media (max-width: 768px) {
}