
/* ---- Layout Containers ---- */

.container {
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
}

.main-nav,
.main-nav li {
    float: right;
    padding-right: 1em;
}

.main-header {
    background: black;
    padding: 3em 0;
    width: 100%;
    color: white;
}

.main-body {
    position: relative;
    padding: 10px;
    padding-bottom: 160px;
}

.main-footer {
    position: absolute;
    bottom: 0;
    height: 160px;
    width: 100%;
    background: black;
}

.social-media {
    display: flex;
    position:absolute;
    bottom:0;
    width:100%;
    height:140px;
}

/* ----- Stylization ----- */

h1 {
    padding-left: 1em;
    font-family: initial;
    font-size: 3em;
    line-height: 20px
}

p {
    padding-left: 1em;
    font-size: 2em;
}

a {
    text-decoration: none;
    color: hotpink;
    padding: 1em;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom equals footer height */
}

/* ==============================
    Media Queries
================================= */

@media (min-width: 480px) {
}    

@media (min-width: 769px) {
    .wrap {
        min-height: calc(100vh - 89px);
    }
    
    .container {
        width: 70%;
        max-width: 1000px;
        margin: 0 auto;;
    }


}